.navication{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    margin: auto;
    //padding: 0 10px;
    .container{
        padding: 0;
    }
    .layout{
        width: 100%;
        .breadcrumb{
            background-color: inherit;
            font-family: $font-main;
            font-size: 22px;
            margin-bottom: 0;
            padding-left: 0;
            li{
                a{
                    //color: #bebebe;
                    color: #ffffff;
                }
                &:before{
                    //color: #bebebe;
                    color: #ffffff;
                    padding-right: 10px;
                }
            }
            li.active{
                //color: #bebebe;
                color: #666;
            }
            li+li{
                &:before{
                    content: ">";
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }

    @media screen and (max-width: 767px) {
        position: relative;
        top: 0;
        .layout{
            .breadcrumb{
                padding-left: 15px;
                li{
                    a{
                        color: #666666;
                    }
                    &:before{
                        color: #666666;
                    }
                }
            }
        }
    }
}