@font-face {
    font-family: 'psl_kanda_proregular';
    src: url('../../fonts/psl152pro.woff2') format('woff2'),
         url('../../fonts/psl152pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kanda_probold';
    src: url('../../fonts/psl154pro.woff2') format('woff2'),
         url('../../fonts/psl154pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}