// Font Family
$font-main: "psl_kanda_probold";
$font-submain: "psl_kanda_proregular";

// Font size
$font-smallest:18px;
$font-small:22px;
$font-medium:23px;
$font-big:28px;
$font-biggest:39px;



// Color Background
/*------------ Global --------------*/
$bg-primary: #1595d3;
/*------------ Menu --------------*/
$bg-menu-highlight: #154d7f;
/*------------ Button --------------*/
$color-btn-blue: #1595d3;
$color-btn-bluedeep: #154d7f;
$color-btn-orange: #f9981c;
$color-btn-gray: #666666;
$color-btn-red: #ee2d24;
$color-btn-orangedeep: #ff4000;
/*------------ tab home --------------*/
$bg-tab-home: #1595d4;
/*------------ Footer --------------*/
$bg-footer-top:#e9e9e9;
$bg-footer-bottom:#fff;


$color-blue: #1595d3;
$color-gray: #666666;
$color-bluedark: #154d7f;
$color-graywhite: #bebebe;
$color-red: #ee2d24;




/*------------ Global --------------*/
$font-color-title: #1595d4;
$font-color-desc: #666;
/*------------ Menu --------------*/
$font-color-menu: #1a4a8a;
/*------------ Footer --------------*/
$font-color-footer-top: #1595d3;
$font-color-footer: #666666;
$font-color-cr: #717171;

